<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>TypeMyType</string>
	<key>developerURL</key>
	<string>http://typemytype.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>saveCopy.py</string>
	<key>name</key>
	<string>SaveCopy</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>6</string>
	<key>timeStamp</key>
	<real>1443436025.0500529</real>
	<key>version</key>
	<string>1.0</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>typemytype/saveCopyRoboFontExtension</string>
		<key>summary</key>
		<string>Save a version of UFO next the the current document.</string>
	</dict>
</dict>
</plist>
